@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html, body, input, select, textarea {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

label {
  font-weight: 600;
}
body > .container {
  margin-bottom: 32px;
}
code, kbd, pre, samp, .monospace {
  font-family: 'Ubuntu Mono', Consolas, Menlo, Monaco, 'Courier New', monospace;
}

.alert {
  border-radius: 2px;
}
.page-title {
  font-size: 25px;
  font-weight: 200;
  margin: 16px 0 24px;
  color: #888;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
}

.post {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
  line-height: 1.75;
}
.post:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.post-header {
  margin-bottom: 8px;
}
.post-title {
  font-weight: 400;
  font-size: 20px;
}
.post-meta {
  color: #888;
}
.post .read-more {
  display: block;
  margin-top: 16px;
}
.post-comment-title {
  font-size: 18px;
}

.post-actions {
  padding: 8px 16px;
  margin: 8px 0;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 2px;
}
.post-actions > a {
  display: inline-block;
  margin-right: 16px;
}

.markdown-output h1 {
  font-size: 18px;
}
.markdown-output h2 {
  font-size: 15px;
  font-weight: 600;
}
.markdown-output h3 {
  font-size: 14px;
  font-weight: 600;
}

.markdown-preview {
  display: flex;
  margin-left: -16px;
}
.markdown-preview .markdown-input, .markdown-preview .markdown-output {
  flex: 1;
  margin-left: 16px;
}

.comment-form {
  margin-bottom: 16px;
  padding: 16px;
  background: #f0f0f0;
  border: 1px solid #ddd;
}

.comment-item {
  margin-bottom: 16px;
  display: flex;
}
.comment-avatar {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  background: #2196F3;
  text-align: center;
}
.comment-avatar > i {
  color: #fff;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  display: inline-block;
  margin-top: 6px;
}
.comment-author {
  font-weight: 600;
}
.comment-date {
  color: #888;
}
.comment-text {
  margin-top: 8px;
}
